<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="../../Content/INN-Demo.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/wan-spinner.css" rel="stylesheet" />
    <link href="../../Content/dpNumberPicker-2.x-skin.grey.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-1.10.2.js"></script>
    <script src="../../Scripts/dpNumberPicker-2.x.js"></script>
	<meta charset="utf-8" />    
</head>
<body class="col-lg-12">
    <div class="wrapper">
        <div class="header">
           <div class="logo-side col-lg-3 float-left">
               <div class="logo float-left">
                   <img src="../../Content/img/eurosko_logo.jpg" />
               </div>               
           </div>
            <div class="absolute-search-form col-lg-6 float-left">
                <div class="header-search">
                    <input type="text" placeholder="hva leter du etter?" />
                </div>   
            </div>          
        </div>     
        <div class="nav full-width">
            <nav class="navbar col-lg-7 padding-left-0">
                <div class="container-fluid color-black">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">DAME</a></li>
                        <li><a href="#">HERRE</a></li>
                        <li><a href="#">BARN</a></li>
                        <li><a href="#">UNGDOM</a></li>
                        <li><a href="#">TOPPLISTEN</a></li>
                        <li><a href="#">SALG</a></li>
                        <li><a href="#">BUKTIKKER</a></li>
                    </ul>
                </div>
            </nav>
            <nav class="navbar col-lg-4 padding-left-0 cart-price-outside">
                <div class="container-fluid color-black cart-place">
                    <ul class="nav navbar-nav">
                        <li class="float-left">
                            <img src="../../Content/img/380050-heartfontawesome.svg.png" />
                        </li>
                        <li class="float-left"><b>2</b>FAVORITTER</li>      
                        <li class="float-left">
                            <img src="../../Content/img/28468-200.png" />
                        </li>       
                    </ul>
                </div>
            </nav>           
        </div>  
        <div class="height-200 col-lg-12">
            <div class="height-200 col-lg-6 float-left padding-top-10" >
                HANDLEKURV
                <div class="height-70">
                    <div class="shoes-side float-left col-lg-2">
                        <img src="../../Content/img/giay-buoc-day-duc-lo-ma-ddl-s40.jpg" />
                    </div>
                    <div class="float-left col-lg-4">
                        <span>BELLERINA</span><br />
                        <span>ROOTS 0447</span><br />
                        <span><b>Art.rn. 51286604</b></span>
                    </div>
                    <div class="float-left spinner-price col-lg-4">
                        <div class="np">
                            <a href="javascript:void(0)" class="minus">-</a>
                            <input type="text" value="1">
                            <a href="javascript:void(0)" class="plus">+</a>
                        </div>
                    </div>
                    <div class="float-left spinner-price col-lg-2 " >
                        <span><b>899,-</b></span>
                    </div>
                   
                </div>
                <div class="height-70">
                    <div class="shoes-side float-left col-lg-2">
                        <img src="../../Content/img/giay-buoc-day-duc-lo-ma-ddl-s40.jpg" />
                    </div>
                    <div class="float-left col-lg-4">
                        <span>BELLERINA</span><br />
                        <span>ROOTS 0447</span><br />
                        <span><b>Art.rn. 51286604</b></span>
                    </div>
                    <div class="float-left spinner-price col-lg-4">
                        <div class="np">
                            <a href="javascript:void(0)" class="minus">-</a>
                            <input type="text" value="1">
                            <a href="javascript:void(0)" class="plus">+</a>
                        </div>
                    </div>
                    <div class="float-left spinner-price col-lg-2 ">
                        <span><b>899,-</b></span>
                    </div>

                </div>
                <div class="height-70">
                    <div class="shoes-side float-left col-lg-2">
                        <img src="../../Content/img/giay-buoc-day-duc-lo-ma-ddl-s40.jpg" />
                    </div>
                    <div class="float-left col-lg-4">
                        <span>BELLERINA</span><br />
                        <span>ROOTS 0447</span><br />
                        <span><b>Art.rn. 51286604</b></span>
                    </div>
                    <div class="float-left spinner-price col-lg-4">
                        <div class="np">
                            <a href="javascript:void(0)" class="minus">-</a>
                            <input type="text" value="1">
                            <a href="javascript:void(0)" class="plus">+</a>
                        </div>
                    </div>
                    <div class="float-left spinner-price col-lg-2 ">
                        <span><b>899,-</b></span>
                    </div>

                </div>
                <div class="total">
                    <span><b>TOTAL 2818,-</b></span>
                </div>
            </div>
            <div class="height-200 col-lg-6 float-left">
                <div class="mobile-search-header float-left col-lg-9">
                    <span>Hent din adresse hos <b>INN fra Opplysingen</b></span>
                </div>
                <div class="float-left col-lg-3">
                    <img src="../../Content/img/222.png" />
                </div>
                <div class="float-left margin-right-10 phone-background">
                    <input class="form-control form-height-50 form-mobile" placeholder="Mobilnummer" />
                </div>
                <button class="btn btn-blue form-height-50">Hent min adresse</button>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {        
        dpUI.numberPicker(".np");        
    });


</script>