<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/INN.css" rel="stylesheet" />
	<meta charset="utf-8" />
</head>
<body class="col-lg-12">
    <div class="wrapper">
        <div class="header">
            <div class="logo-side col-lg-3 float-left">
                <div class="logo float-left">
                    <img src="../../Content/img/quicksilver-reference-implementation.png" />
                </div>
            </div>
            <div class="absolute-search-form col-lg-9 float-left">
                <div class="full-width float-right user-side text-right">
                    <img src="../../Content/img/user.png" />
                    <img class="arrow-down margin-right-20" src="../../Content/img/arrow-down.png" />
                    <img class="dollar" src="../../Content/img/dollar.png" />
                    <img class="arrow-down" src="../../Content/img/arrow-down.png" />
                </div>
                <div class="header-search">
                    <input type="text" placeholder="Search" />
                </div>
            </div>
        </div>
        <div class="nav full-width">
            <nav class="navbar col-lg-7 padding-left-0">
                <div class="container-fluid color-black">
                    <ul class="nav navbar-nav">
                        <li class="menu-background"><a href="#"><i>Home</i></a></li>
                        <li class="active menu-background"><a href="#"><i>Mens</i></a></li>
                        <li class="menu-background"><a href="#"><i>Womens</i></a></li>
                    </ul>
                </div>
            </nav>
            <nav class="navbar col-lg-5 padding-left-0 cart-price-outside">
                <div class="container-fluid color-black cart-place float-right full-width">
                    <div class="cart-btn">
                        <div class="cart-btn-with-border text-center">
                            <img src="../../Content/img/28468-200.png" /> <b>0</b>   <br />
                            <span><b>$0.00</b></span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="height-200 col-lg-12" style="text-align:left">
            <div class="col-lg-3 float-left padding-top-100">
                <div class="filter-box full-width margin-bottom-20">
                    <div class="filter-inner full-width">
                        <span class="font-size-20">Filters</span><br /><br />
                        <span class="product">shoes(2)</span><br /><br />
                        <span class="product">green(2)</span><br /><br />
                        <span>Products:<b>2</b></span><br />
                        <span class="remove-all">Remove all</span>
                    </div>                    
                </div>
                <span class="font-size-24">Sort by</span><br />
                <select class="form-control margin-bottom-20" >
                    <option>Price</option>                                  
                </select>
                <span class="font-size-24">Category</span><br />
                <span class="product">shirt(2)</span><br /><br />
            </div>
            <div class="col-lg-9 float-left">
                <div class="full-width margin-bottom-50">
                    <span class="font-size-24"><b>MENS</b></span>
                </div>
                <div class="col-lg-4 float-left padding-top-10">
                    <div>
                        <div class="shoes-side">
                            <img src="../../Content/img/May-Ao-Thun-Gia-Re-Chat-Luong-Cao-Cho-Doanh-Nghiep-1053.jpg" />
                        </div>
                        <div>
                            <div>
                                <span class="font-size-20">Short Sleeve Polo</span><br />
                                <span class="font-size-10 color-grey">Faded Glory</span>    <br />
                                <span class="font-size-17">$<b>29,50</b></span>
                            </div>                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 float-left padding-top-10">
                    <div>
                        <div class="shoes-side">
                            <img src="../../Content/img/3h-70ebc.jpg" />
                        </div>
                        <div>
                            <span class="font-size-20">Short Sleeve Polo</span><br />
                            <span class="font-size-10 color-grey">Faded Glory</span>    <br />
                            <span class="font-size-17">$<b>29,50</b></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 float-left padding-top-10">
                    <div>
                        <div class="shoes-side">
                            <img src="../../Content/img/image1xl.jpg" />
                        </div>
                        <div>
                            <span class="font-size-20">Short Sleeve Polo</span><br />
                            <span class="font-size-10 color-grey">Faded Glory</span>    <br />
                            <span class="font-size-17">$<b>29,50</b></span>
                        </div>
                    </div>
                </div>
            </div>






            

            <!--<div class="height-200 col-lg-6 float-left">
                <div class="mobile-search-header float-left col-lg-9">
                    <span>Hent din adresse hos <b>INN fra Opplysingen</b></span>
                </div>
                <div class="float-left col-lg-3">
                    <img src="../../Content/img/222.png" />
                </div>
                <div class="float-left margin-right-10 phone-background">
                    <input class="form-control form-height-50 form-mobile" placeholder="Mobilnummer" />
                </div>
                <button class="btn btn-blue form-height-50">Hent min adresse</button>
            </div>-->
        </div>
    </div>
</body>
</html>
